// Config.scss

// Colors
$white:            #ffffff;
$black:            #000000;

$test1:            lighten(blue, 10%);
$test2:            lighten($test1, 15%);
$test3:            lighten($test2, 15%);
$test4:            lighten($test3, 15%);



// Fonts
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   rem-calc(16);
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;



$body-color:  lighten(red, 30%);


$content-width: rem-calc(1200);
