// layout.scss

* {
  box-sizing: border-box;
}

body {
  background-color: $body-color;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > section,
body > header,
body > footer {
  width: 100%;
  max-width: $content-width;
  padding: rem-calc(0 20);
  overflow: hidden;
}


header {
  background-color: $test1;
}

section {
  background-color: $test2;
}

footer {
  background-color: $test3;
}
